<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header"></div>

    <div class="main-container">
        <span id="close"><i class="fa fa-xmark"></i></span>
        <div class="form-top reg-text">
            <h2>Login</h2>
            <p>Login to continue</p>
            <p>Not Registered yet? <a href="">Sign Up.</a></p>
        </div>
        <form action="{% url 'main:login' %}" class="reg-text" id="signup-form" method="post">
            {% csrf_token %}
           
            <div class="input-group">
                <label for="email">Email </label>
                <input type="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password </label>
                <input type="password" id="password" name="password" required>
            </div>
           
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <div class="input-group">
                <input type="submit" value="Login" id="submit-btn">
                <i class="fa fa-lock" id="lock"></i>
            </div>
            
        </form>
    </div>

    <div class="footer"></div>
   
</body>
</html>
